<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.18.0.187838</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {1152, 733}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2016-01-18 22:39:09 +0000</string>
	<key>Creator</key>
	<string>Michelle Thompson</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1 0/72 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{78.280769258590482, 318.23571790927872}, {39.983519678443791, 39.983519678443791}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>300</integer>
			<key>Rotation</key>
			<real>44.856395721435547</real>
			<key>Shape</key>
			<string>AdjustableWedge</string>
			<key>ShapeData</key>
			<dict>
				<key>endAngle</key>
				<real>45</real>
				<key>startAngle</key>
				<real>315</real>
			</dict>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.10000000000000001, 0.14999999999999999}, {0.80000000000000004, 0.69999999999999996}}</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{265.95578719771316, 68.389367273493335}, {39.983519678443791, 39.983519678443791}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>299</integer>
			<key>Rotation</key>
			<real>216.30317687988281</real>
			<key>Shape</key>
			<string>AdjustableWedge</string>
			<key>ShapeData</key>
			<dict>
				<key>endAngle</key>
				<real>45</real>
				<key>startAngle</key>
				<real>315</real>
			</dict>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.10000000000000001, 0.14999999999999999}, {0.80000000000000004, 0.69999999999999996}}</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{286.90210454766327, 68.443047557113616}, {39.983519678443791, 39.983519678443791}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>298</integer>
			<key>Rotation</key>
			<real>144.38899230957031</real>
			<key>Shape</key>
			<string>AdjustableWedge</string>
			<key>ShapeData</key>
			<dict>
				<key>endAngle</key>
				<real>45</real>
				<key>startAngle</key>
				<real>315</real>
			</dict>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.10000000000000001, 0.14999999999999999}, {0.80000000000000004, 0.69999999999999996}}</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{452.27712768567511, 384.67257704013815}, {39.983519678443791, 39.983519678443791}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>297</integer>
			<key>Rotation</key>
			<real>314.06924438476562</real>
			<key>Shape</key>
			<string>AdjustableWedge</string>
			<key>ShapeData</key>
			<dict>
				<key>endAngle</key>
				<real>45</real>
				<key>startAngle</key>
				<real>315</real>
			</dict>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.10000000000000001, 0.14999999999999999}, {0.80000000000000004, 0.69999999999999996}}</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{419.90210454766327, 61.902104547663257}, {39.983519678443791, 39.983519678443791}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>296</integer>
			<key>Rotation</key>
			<real>144.38899230957031</real>
			<key>Shape</key>
			<string>AdjustableWedge</string>
			<key>ShapeData</key>
			<dict>
				<key>endAngle</key>
				<real>45</real>
				<key>startAngle</key>
				<real>315</real>
			</dict>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.10000000000000001, 0.14999999999999999}, {0.80000000000000004, 0.69999999999999996}}</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{377.90210454766327, 68.443049532613045}, {39.983519678443791, 39.983519678443791}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>295</integer>
			<key>Rotation</key>
			<real>144.38899230957031</real>
			<key>Shape</key>
			<string>AdjustableWedge</string>
			<key>ShapeData</key>
			<dict>
				<key>endAngle</key>
				<real>45</real>
				<key>startAngle</key>
				<real>315</real>
			</dict>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.10000000000000001, 0.14999999999999999}, {0.80000000000000004, 0.69999999999999996}}</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{580.27712768567517, 379.47485236290669}, {39.983519678443791, 39.983519678443791}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>294</integer>
			<key>Rotation</key>
			<real>314.06924438476562</real>
			<key>Shape</key>
			<string>AdjustableWedge</string>
			<key>ShapeData</key>
			<dict>
				<key>endAngle</key>
				<real>45</real>
				<key>startAngle</key>
				<real>315</real>
			</dict>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.10000000000000001, 0.14999999999999999}, {0.80000000000000004, 0.69999999999999996}}</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{631.27712768567562, 379.47485236290669}, {39.983519678443791, 39.983519678443791}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>23</integer>
			<key>Rotation</key>
			<real>314.06924438476562</real>
			<key>Shape</key>
			<string>AdjustableWedge</string>
			<key>ShapeData</key>
			<dict>
				<key>endAngle</key>
				<real>45</real>
				<key>startAngle</key>
				<real>315</real>
			</dict>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.10000000000000001, 0.14999999999999999}, {0.80000000000000004, 0.69999999999999996}}</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>35</integer>
			<key>Points</key>
			<array>
				<string>{475.59521791732891, 477.0534870017251}</string>
				<string>{506, 485}</string>
				<string>{502, 370}</string>
				<string>{479, 382}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>11</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{311.62771606445312, 415}, {163, 81}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.590997</string>
					<key>g</key>
					<string>0.18677</string>
					<key>r</key>
					<string>0.567819</string>
				</dict>
				<key>Font</key>
				<string>Verdana</string>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>ID</key>
			<integer>11</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.904662</string>
						<key>g</key>
						<string>0.285893</string>
						<key>r</key>
						<string>0.869169</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.75396817922592163</real>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Beneath</key>
					<string>YES</string>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.15</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Fuzziness</key>
					<real>0.0</real>
					<key>ShadowVector</key>
					<string>{2, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.590997</string>
						<key>g</key>
						<string>0.18677</string>
						<key>r</key>
						<string>0.567819</string>
					</dict>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1348\cocoasubrtf170
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Verdana;}
{\colortbl;\red255\green255\blue255;\red145\green48\blue151;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs36 \cf2 Wifi Access Points at Dixon made possible!}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{380.40230584663414, 221.90163154807456}, {322.59262084960938, 40}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>30</integer>
			<key>Rotation</key>
			<real>237.14738464355469</real>
			<key>Shape</key>
			<string>AdjustableArrow</string>
			<key>ShapeData</key>
			<dict>
				<key>ratio</key>
				<real>0.50000017881393433</real>
				<key>width</key>
				<real>20.000001907348633</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.497307</string>
						<key>g</key>
						<string>0.504555</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.304265</string>
						<key>g</key>
						<string>0.307897</string>
						<key>r</key>
						<string>0.788251</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.4523809552192688</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.4</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>ShadowVector</key>
					<string>{0, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0.0271458</string>
						<key>r</key>
						<string>0.689052</string>
					</dict>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1348\cocoasubrtf170
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Verdana;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs36 \cf0 5GHz amateur uplink}</string>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.125, 0.25}, {0.75, 0.5}}</string>
			<key>TextRotation</key>
			<real>180</real>
			<key>isConnectedShape</key>
			<true/>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{336.80400278749391, 225.30573704064048}, {322.05123901367188, 40}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>28</integer>
			<key>Rotation</key>
			<real>57.296844482421875</real>
			<key>Shape</key>
			<string>AdjustableArrow</string>
			<key>ShapeData</key>
			<dict>
				<key>ratio</key>
				<real>0.50000017881393433</real>
				<key>width</key>
				<real>20.000001907348633</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.4</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.4</string>
						<key>g</key>
						<string>0.8</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.4523809552192688</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.4</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>ShadowVector</key>
					<string>{0, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0.4822</string>
						<key>r</key>
						<string>0.910613</string>
					</dict>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1348\cocoasubrtf170
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Verdana;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs36 \cf0 10GHz amateur downlink}</string>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.125, 0.25}, {0.75, 0.5}}</string>
			<key>isConnectedShape</key>
			<true/>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{61.792626149406829, 192.00001050245305}, {265.41476440429688, 40}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>292</integer>
			<key>Rotation</key>
			<real>306.26544189453125</real>
			<key>Shape</key>
			<string>AdjustableDoubleArrow</string>
			<key>ShapeData</key>
			<dict>
				<key>ratio</key>
				<real>0.50724875926971436</real>
				<key>width</key>
				<real>20.053150177001953</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.650309</string>
						<key>r</key>
						<string>0.727291</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.727062</string>
						<key>g</key>
						<string>0.290394</string>
						<key>r</key>
						<string>0.384375</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.4523809552192688</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.4</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>ShadowVector</key>
					<string>{0, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.139422</string>
						<key>r</key>
						<string>0.308186</string>
					</dict>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1348\cocoasubrtf170
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Verdana;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs36 \cf0 commercial internet}</string>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.125, 0.25}, {0.75, 0.5}}</string>
			<key>isConnectedShape</key>
			<true/>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{233.26393126843311, 224.50000347316112}, {309.47213745117188, 40}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>1</integer>
			<key>Rotation</key>
			<real>63.517745971679688</real>
			<key>Shape</key>
			<string>AdjustableDoubleArrow</string>
			<key>ShapeData</key>
			<dict>
				<key>ratio</key>
				<real>0.50724875926971436</real>
				<key>width</key>
				<real>20.053150177001953</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.650309</string>
						<key>r</key>
						<string>0.727291</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.727062</string>
						<key>g</key>
						<string>0.290394</string>
						<key>r</key>
						<string>0.384375</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.4523809552192688</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.4</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>ShadowVector</key>
					<string>{0, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.139422</string>
						<key>r</key>
						<string>0.308186</string>
					</dict>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1348\cocoasubrtf170
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Verdana;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs36 \cf0 commercial internet}</string>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.125, 0.25}, {0.75, 0.5}}</string>
			<key>isConnectedShape</key>
			<true/>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{27.018938980370592, 294.79607792078986}, {378.7467041015625, 157.54763793945312}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>13</integer>
			<key>Rotation</key>
			<real>314.125</real>
			<key>Shape</key>
			<string>HorizontalTriangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>w</key>
						<string>0.666667</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.588235</string>
						<key>g</key>
						<string>0.917647</string>
						<key>r</key>
						<string>0.568627</string>
					</dict>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1348\cocoasubrtf170
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Verdana;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs36 \cf0 Stuff in the way!}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{12, 329.5}, {135, 74}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>6</integer>
			<key>ImageID</key>
			<integer>3</integer>
			<key>Opacity</key>
			<real>0.20000000298023224</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.550611</string>
						<key>g</key>
						<string>0.707331</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>34</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.191723</string>
						<key>g</key>
						<string>0.26275</string>
						<key>r</key>
						<string>0.666682</string>
					</dict>
				</dict>
				<key>image fill</key>
				<dict>
					<key>ImageSizing</key>
					<integer>2</integer>
					<key>Opacity</key>
					<real>0.20000000298023224</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1348\cocoasubrtf170
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Verdana;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs36 \cf0 Valley Center Wireless}</string>
			</dict>
			<key>TiledImage</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{394, 390}, {441, 81}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>282</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Opacity</key>
			<real>0.070000000298023224</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.742811</string>
						<key>r</key>
						<string>0.62371</string>
					</dict>
				</dict>
				<key>image fill</key>
				<dict>
					<key>ImageSizing</key>
					<integer>2</integer>
					<key>Opacity</key>
					<real>0.070000000298023224</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1348\cocoasubrtf170
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Verdana;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs36 \cf0 Dixon Lake}</string>
			</dict>
			<key>TiledImage</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{190, 18}, {282, 81}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>291</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Opacity</key>
			<real>0.095959596335887909</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.304417</string>
						<key>g</key>
						<string>0.597681</string>
						<key>r</key>
						<string>0.381567</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>45</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.269169</string>
						<key>g</key>
						<string>0.86247</string>
						<key>r</key>
						<string>0.424628</string>
					</dict>
				</dict>
				<key>image fill</key>
				<dict>
					<key>ImageSizing</key>
					<integer>2</integer>
					<key>Opacity</key>
					<real>0.095959596335887909</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1348\cocoasubrtf170
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Verdana;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs36 \cf0 Palomar Mountain }</string>
			</dict>
			<key>TiledImage</key>
			<string>YES</string>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>2</integer>
	<key>ImageCounter</key>
	<integer>5</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image3.tiff</string>
		<string>image2.png</string>
		<string>image1.png</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2016-01-18 22:56:21 +0000</string>
	<key>Modifier</key>
	<string>Michelle Thompson</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612, 792}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{263, 44}, {1168, 1355}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{0, -232}, {1033, 1198}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
